@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}


:root{
    --bg-color: #010100;
    --second-bg-color: #020200;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
  font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-img{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img img{
    height: 70vh;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.2rem;
   
    font-weight: 700;
   
}

span{
    color: var(--main-color);
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}
.home-content{
    flex: 1;
}
.home-img{
    flex: 1;
}
.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s  ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--second-bg-color);
}

.about-img img{
    height: 70vh;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
   font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.about-content{
    flex: 1;
}
.about-img{
    flex: 1;
}

.services h2{
    font-size: 5.6rem;
    margin-bottom:  5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;


}

.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem ;
}

 .services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius:2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color:  var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 9rem;
    color: var(--main-color);

}

.services-box h3{
    font-size: 3.6rem;
}
.services-box .btn{
    transform: scale(1.2);
}
.services-box p{
    font-size: 2rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap:  2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    height: 35vh;
    transition: .5s ease;
 
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0); /* maybe 20%*/
}

.portfolio-layer h3{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact{
    padding: 10rem 9% 2rem;
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 4rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    color:#000;
    background: #fff;
    border-radius: .8rem;
    margin: .7rem 0;
}


.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    width: 18vw;
    height: 5rem;
    font-size: 2em;
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media screen  and (max-width: 1420px){
    html{
        font-size: 60%;
    }
    .home-img img{


        height: 60vh;
    }
    section{
        width: 100%;
    }
   
    .about-img img{
        height: 60vh;
    }
}

@media screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home-img img{
       
        height: 50vh;
    }

    .about-img img{
        height: 50vh;
    }

    .home-content p {
        font-size: 2rem;
        padding: .2em;
    }
    .home .btn {
        font-size: 2rem;
    }

    .about-content p{
        font-size: 2rem;
    }

    .about .btn{
        font-size: 2rem;
    }

    
}
@media screen and (max-width: 991px){
    .home-img img{
       
        height: 43vh;
    }

    .about-img img{
        height: 43vh;
    }
    .header{
        width: 100vw;
        padding: 2rem 3%;
    }

  
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        text-align: left;
    }

    .home-content p {
        font-size: 1.8rem;
    }
    

    section{
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media screen and (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

     .act {
        display:    block !important;
    }

    .header{
        width: 100vw;
        padding: 2rem 1.5%;
    }

    .home-img img{
        display: none;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-media{
        margin: 2.8em;
    }
  

    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-content p {
        font-size: 2.2rem;
        padding: .2em;
    }
    
    .home-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
       flex-direction: column;
    }

    

    .services h2{
        margin-bottom: 3rem;
    }


    .portfolio h2{
        margin-bottom: 3rem;
    }


    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 617px)
{

    .contact{
        padding: 2em;
    }

    
    .contact form .btn{
        width: 100%;
        height: 5rem;
        font-size: 2em;
        margin-top: 2rem;
        cursor: pointer;
    }

    textarea{
        height: 5em;
       
    }


    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }

    .about{
        padding: 2em;
    }
    .about-img img{
        height: 40vh;
    }
  
}


@media screen and (max-width: 385px) {
   

    .about-img img{
        height: 35vh;
    }
    .home-content h1{
        font-size: 3rem;

    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }

}

::-webkit-scrollbar {
    background-color: var(--bg-color); 
    width: 4px; 
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color:var(--main-color); 
  }


